h1 {color: red; background-color: yellow; border: 1px solid black; text-align: center; margin-left: 475px; margin-right: 475px;}
img {border: 1px solid black; margin: 0 auto; display: block;}
p {color: white; background-color: black; text-align: center;}
.twitter-follow-button {border: 1px solid black;}
html {background-color: cyan}